body{
    
    background : rgb(245,245,245);
    vertical-align: middle;
    text-align: center;
}

h1, h2{
    font-family: "chalkduster" , fantasy;
    font-weight: bold;
    font-size: 100;
}

#structure{
    padding : 3em 0 0 40%;
}
.coloredBoules {
    position : fixed;
    left : 50%;
    transform : translate(-50%);
    background-color: whitesmoke;
}

.masterMindBoard, .pionsTable{
    border : 1px solid;
    border-spacing : 0;
    border-collapse : collapse;
    border-color : black;
}
.masterMindBoard tr, .pionsTable tr{
    border-color : black;
    border : 1px solid;
    border-spacing : 0;
}

#buttonVerification{
    position : fixed;
    left : 62%;
    top : 13%;
}
